<div class="row">
  <div
    class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad profile-section ">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Profile Details for {{this.username}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 col-lg-4 " align="center"><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeAsIELBimVGoQSn3Ht_eU6V164uIBSUzQWe9zjc9G3FuyWQCQhg&s"
              class="img-circle" alt="team" style="padding-top: 5px; padding-right:35px;  width:280px;height:280px;">
          </div>
          <div class=" col-md-8 col-lg-8 ">
            <table class=" table table-user-information">
              <tbody>
                <tr>
                  <td class="entry">First Name:</td>
                  <td>{{this.firstname}}</td>
                </tr>
                <tr>
                  <td class="entry">Last Name:</td>
                  <td>{{this.lastname}}</td>
                </tr>
                <tr>
                  <td class="entry">Mobile Number:</td>
                  <td>{{this.mob_no}}</td>
                </tr>
                <tr>
                  <td class="entry">Food Allergies:</td>
                  <td>{{this.food_allergies}}</td>
                </tr>
                <tr>
                  <td class="entry">Favourite Games:</td>
                  <td>{{this.favorite_games}}</td>
                </tr>
                <tr>
                  <td class="entry">Drink Preferences:</td>
                  <td>{{this.drink_preferences}}</td>
                </tr>
                <tr>
                  <td class="entry">Board Games Owned:</td>
                  <td>{{this.board_games_owned}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

